body {
  margin: 0;
  padding: 0;

  height: 100vh;
  /* width: 100vw; */

  display: flex;
  flex-direction: row;
}

.general {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.showcase {
  width: 56em;
  /* background-color: crimson; */

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.coin,
.banknotes {
  height: 22em;
  width: 48em;
  /* background-color: dodgerblue; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10em;
}
.cart {
  width: 40em;
  /* background-color: crimson; */

  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 255, 34);
}
.monedas {
  height: 17em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.billetes {
  height: 17em;

  display: flex;
  justify-content: center;
  align-items: center;
}
.picture {
  height: 8em;
}
